# =====================
# Virtual environments
# =====================
venv/
.venv/
env/

# =====================
# Python cache / build
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Jupyter / notebooks
# =====================
.ipynb_checkpoints/

# =====================
# OS / editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/

# =====================
# Logs
# =====================
*.log

# =====================
# ML artifacts (optional, recommended)
# =====================
*.pkl
models/*.pkl
outputs/
evaluation/outputs/

# =====================
# Flask
# =====================
instance/
.env
